# Home Assistant Components
.HA_VERSION
.storage
.uuid
backups/
deps/
home-assistant.log
home-assistant_v2.db*
html5_push_registrations.conf
image
tts/

# Credentials Files
.google_maps_location_sharing.cookies.*
.mercedesme-token-cache
secrets.yaml
credentials/

# Disabled Files
#*.disabled

# HACS Plugins & Git Repos
custom_components/
themes/
www/community
git_repos/

# Templates Files
www/images/remote/labels/template_2.xcf
www/images/remote/labels/template.xcf
