# Home Assistant Components
.HA_VERSION
.storage
.uuid
deps/
home-assistant.log*
home-assistant_v2.db*
image/
tts/

# Credentials Files & Token
.mercedesme*
credentials/
html5_push_registrations.conf
known_devices.yaml
secrets.yaml
webostv.conf

# Disabled Files
*.disabled

# Local Backups
backups/

# HACS & Git Repos
custom_components/
themes/
www/community
git_repos/

# Google Integrations
.google_maps_location_sharing.cookies.*
.google.token
google_calendars.yaml

# VS Code
.vscode

# Templates Files
www/images/remote/labels/template_2.xcf
www/images/remote/labels/template.xcf
