# Home Assistant Components
deps/
.google_maps_location_sharing.cookies.*
.HA_VERSION
bravia.conf
home-assistant_v2.db
html5_push_registrations.conf
.mercedesme-token-cache
secrets.yaml
.storage
tts/
.uuid

# Log Files
*.log

# Disabled Files
*.disabled

# HACS Plugins & Git Repos
custom_components/
themes/
www/community
git_repos/
