name: Configuration Validation Check

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

permissions:
  contents: read

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  build:
    name: Validate Configuration
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3

    - name: Set up Python 3.10
      uses: actions/setup-python@v4
      with:
        python-version: "3.10"

    - name: Install dependencies
      run: |
        python3 -m pip install --upgrade pip
        python3 -m pip install wheel colorlog python-dateutil
        if [ -f requirements.txt ]; then python3 -m pip install -r requirements.txt; fi

    - name: Install Home Assistant
      run: |
        python3 -m pip install homeassistant

    - name: Use dummy files for credentials
      run: |
        cp .secrets_dummy.yaml secrets.yaml
        cp credentials/.google_dummy.json credentials/google.json

    - name: Installing Custom Components
      run: |
        mkdir custom_components/
        # Monitor Docker
        git clone https://github.com/ualex73/monitor_docker
        mv monitor_docker/custom_components/monitor_docker/ custom_components/

    - name: Home Assistant Configuration Check
      run: |
        sed -i "/\b\(mobile_app\)\b/d" configuration.yaml
        hass --script check_config --config . --info
